In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

C:\Users\Jonny\AppData\Local\Temp\ipykernel_18168\4026104820.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("TipsXtra.se_Statistik_Summering_2022-01-02.csv", sep=';', na_filter=True)

df = df.loc[df['produktnamn'] == 'Stryktipset']

df.describe()

,turnover,utd13,utd12,utd11,utd10,ant13,ant12,ant11,ant10,count1,...,peopleDiffSum,oddsetDiffSum,odds1_ok,odds2_ok,odds3_ok,people1_ok,people2_ok,people3_ok,id,Unnamed: 35
count,1.163000e+03,1.163000e+03,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,1.163000e+03,1163.000000,...,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,1163.000000,0.0
mean,1.234862e+07,9.060578e+05,6168.475494,367.674119,84.952709,223.994841,4177.474635,35445.851247,1.820163e+05,5.818573,...,439.736028,300.643164,0.723130,0.661221,0.580396,0.679278,0.631126,0.588994,1501.647463,NaN
std,1.178598e+07,2.224998e+06,11788.819040,634.506464,140.780155,855.665211,11286.729502,68806.632453,2.562979e+05,1.819931,...,99.868847,76.531854,0.447644,0.473498,0.493707,0.466955,0.482707,0.492228,977.739958,NaN
min,0.000000e+00,5.800000e+02,16.000000,0.000000,0.000000,0.000000,10.000000,185.000000,1.630000e+03,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
25%,0.000000e+00,3.996100e+04,622.000000,49.000000,13.000000,7.000000,235.500000,3464.500000,2.953300e+04,5.000000,...,422.500000,253.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,842.500000,NaN
50%,1.399378e+07,1.521010e+05,2148.000000,147.000000,40.000000,26.000000,779.000000,10652.000000,8.159300e+04,6.000000,...,466.000000,291.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1463.000000,NaN
75%,2.231671e+07,5.896565e+05,6733.500000,423.000000,101.000000,108.000000,3022.500000,35903.000000,2.266265e+05,7.000000,...,500.000000,343.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1753.500000,NaN
max,4.936548e+07,2.000000e+07,185416.000000,10423.000000,2464.000000,18058.000000,197128.000000,959624.000000,2.750470e+06,11.000000,...,643.000000,589.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4421.000000,NaN